.todolist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.todoitem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 10px;
  width: 250px;
}
